langchain
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
openai
langchain-google-genai
langchain-community
streamlit
langchain-mcp-adapters
duckduckgo-search
ddgs
langchain-text-splitters
pypdfloader